.container {
  background: #fff;
  .colTitle {
    width: 100%;
    height: 30px;
    border: 1px solid #aaa;
    border-bottom: 0;
    display: flex;
    position: sticky;
    top: 0;

    justify-content: flex-start;
    margin-left: 70px;
    .colTitleItems {
      background: #fff;
      flex-grow: 0;
      flex-shrink: 0;
      width: 150px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-right: 1px solid #aaa;
    }
    // .firstColTitle {
    //   flex-grow: 0;
    //   flex-shrink: 0;
    //   width: 70px;
    //   height: 30px;
    //   line-height: 30px;
    //   text-align: center;
    //   border-right: 1px solid #aaa;
    // }
  }
  .dnd {
    width: 100%;
    height: 100%;
    .rowItems {
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px dotted #aaa;
    }
    .rowItems:last-child {
      border-bottom: 0;
    }
    .contentItem {
      width: 150px;
      position: absolute;
      cursor: move;
      top: 0;
      left: 0;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .box {
      display: flex;
      width: 100%;
      height: 100%;
      border: 1px solid #aaa;
      overflow: auto;
      position: relative;
      .firstCol {
        position: sticky;
        left: 0;
        background: #fff;
        z-index: 2;
        flex-grow: 0;
        flex-shrink: 0;
        width: 70px;
        height: auto;
        border-right: 1px solid #aaa;
        .rowItems {
          border-bottom: 1px dotted #aaa;
        }
        .rowItems:first-child {
          border-bottom: 1px solid #aaa;
        }
        .rowItems:last-child {
          border-bottom: 0;
        }
      }
      .colItems {
        flex-grow: 0;
        flex-shrink: 0;
        width: 150px;
        height: auto;
        border-right: 1px solid #aaa;
        .rowItems {
          border-bottom: 1px dotted #aaa;
        }
        .rowItems:first-child {
          position: sticky;
          top: 0;
          border-bottom: 1px solid #aaa;
        }
        .rowItems:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
